<div id="menu" class="banner-bottom hidden">

<div class="meal" id="popularRRP0PR3" itemscope="" itemtype="http://schema.org/Product">
  <div class="meal-wrapper">
    <form action="#" method="post" onsubmit="menucard_DeliveryAreaNeeded('R7R0N'); return false;" id="productformpopularRRP0PR3">
      <input type="hidden" name="action" value="add">
      <input type="hidden" name="product" value="RRP0PR3">
      <input type="hidden" name="domid" value="productformpopularRRP0PR3">
      <input type="hidden" name="menucat" value="30PPNO">
      <input type="hidden" name="rest" value="R7R0N">

    <div class="meal-description-texts">
      <span class="meal-name" itemprop="name">Kapsalon groot</span>

             <span class="meal-icons"></span>
            <div class="meal-description-additional-info" itemprop="description">Kip of kalfsvlees.</div>
                  <div class="meal-description-choose-from">Choice of: Kip, Kalfs, ketchup , knoflook
, mayo
, sambal
 or uien
.</div>
            </div>
    </form></div>

    <div class="meal-add-btn-wrapper" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
      <button class="menu-meal-add add-btn-icon menu-meal-additions-add" onclick="return false;">
        <span itemprop="price">€ 7,00</span>
      </button>
			    </div>

      <div class="sidedish-pop-in" id="sidedishesproductformpopularRRP0PR3"></div>
    
</div>
</div>
